

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to GestionaleNegozio - Your Store Management System</p>
</div>

<div class="row justify-content">
    <div class="col-md-4">
        <div class="card bg-warning border-secondary text-center" style="width: 18rem; height: 5rem; margin-top: 2rem;">
            <div class="card-body">
                <a class="card-link text-decoration-none align-middle"> Visualizza ordini </a>
            </div>
        </div>
    </div>  
    <div class="col-md-4">
        <div class="card bg-warning border-secondary text-center" style="width: 18rem; height: 5rem; margin-top: 2rem;">
            <div class="card-body">
                <a class="card-link text-decoration-none align-middle"> Visualizza prodotti </a>
            </div>
        </div>
    </div> 
    <div class="col-md-4">
        <div class="card bg-warning border-secondary" style="width: 18rem; height: 5rem; margin-top: 2rem;">
            <div class="card-body align-self-center">
                <a class="card-link text-decoration-none"> Visualizza magazzino </a>
            </div>
        </div>
    </div> 
</div>