@model GestionaleNegozio.Models.Staff

@{
    ViewData["Title"] = "Delete Staff";
}

<h1>Cancella Membro Staff</h1>

<h3>Sei sicuro di voler cancellare questo membro dello staff?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ruolo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ruolo)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Cancella" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Torna all'elenco</a>
    </form>
</div>
